.dashboard-container {
    display: flex;
    height: 100vh;
}
.dashboard-content {
    flex: 1;
    padding: 0px;
}
p {
    margin: 0 !important;
}

.card{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    padding: 20px;  

}
.card-box{
    border: 2px solid #194D48;
    height: 100px;
    width: 150px;
    margin-left: 130px;
    border-radius: 10px;
}
.box-icon{
    height: 50px;
    width: 50px;
}
.card-text{
    
    font-size: 25px;
    font-weight: bold;

}