.houses-container{
    display: flex;
    
}
.houses-content{
    flex:1;
    
}
.profile-container{
   display: flex;
  
}
.house-profiles{
    margin: 40px;
    flex: 1;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}
.profile-photo{
    height: 50%;
    width: 100%;
    border: 1px solid black;
}