.addhome-container {
    display: flex;
    
}
.addhome-main{
    flex:1;
    background-color:#F4F1E8 ;
}
.headline{

  font-size: large;
  font-weight: bold;
  justify-content: center;
  color: #194D48;
  

}
.heading{
    font-size: small;
    font-weight:bold;

    color: #194D48;
    
}
.addhome-content{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
}
.form-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin-left: 10px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;

}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;


}
.input-box{
    border: 1px solid #194D48;
    border-radius: 10px;
    height: 30px;
    background-color:#F4F1E8 ;
}
.Addhome-button{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #194D48;
    color: #F4F1E8;
    cursor: pointer;
    align-self: center;
}